#warm-beach {
  display: none;
}

#temperatecity {
  display: none;
}

#coldmountain {
  display: none;
}

.imganswer {
  float: right;
}

.jumbotron {
  margin-top: 100px;
  background-color: #A9BCF5;
}

h1 {
  text-align: center;
}

.container {
  background-color: #669999;
}
